.items-info {
  width: 1090px;
}

.items-info__title {

}

.items-info__parameters {

}

.items-info__item-name {
  width: 700px;
}

.items-info__quantity {
  width: 90px;
}

.items-info__price {
  width: 130px;
}

.items-info__total {
  width: 130px;
}

.items-info__link {
  width: 40px;
}
