.live-chat {
  padding: 20px;
  background-color: #faf8f5;
  border: 1px solid #e9decc;
  border-radius: 4px;
}

.live-chat__text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: #363636;
}

.live-chat__text--black {
  font-weight: 500;
}

.live-chat__button {
  margin-left: 220px;
}

@media ($tablet-width) {
  .live-chat__button {
    margin-left: 30px;
  }
}
