.order {
  display: flex;
  width: 1280px;
  min-width: 960px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  border-top: 4px solid #3091ff;
}

.order__main {
  background-color: #f1f4f8;
}

.order__main-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}

.order__main-name {
  padding: 18px 0 18px 20px;
  font-weight: 500;
  color: #213346;
  border-bottom: 1px solid #e3e3e3;
}

.order__main-name a {
  color: #213346;
}

.order__main-actions {
  display: flex;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  font-weight: 500;
}

.order__main-action-item {
  margin-right: 10px;
}

.order__main-info {
  padding: 20px;
}
